*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F9F5F2;   
}
footer{
    background-color: #b3d386;
}
.image-container{
    position: relative;
}
.image{
    width: 50%;
    height: 400px;
    object-fit: contain;
    
}
.name{
    position: absolute;
    width: 10%;
    top: 0;
    right: 170px;
}
.arrow{
    position: absolute;
    width: 5%;
    top: 50px;
    right: 250px;
}
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .name{
        position: absolute;
        width: 10%;
        top: 10px;
        right: 50px;
    }
    .arrow{
        position: absolute;
        width: 5%;
        top: 60px;
        right: 110px;
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 16px;
    }

    .column {
        flex: 1 1 45%;
    }

    .name {
        position: absolute;
        width: 10%;
        top: 10px;
        right: 50px;
    }

    .arrow {
        position: absolute;
        width: 5%;
        top: 40px;
        right: 110px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    .name {
        position: absolute;
        width: 10%;
        top: 0;
        right: 170px;
    }

    .arrow {
        position: absolute;
        width: 5%;
        top: 50px;
        right: 250px;
    }
}
